# frontend-client
# dependencies
frontend-client/node_modules
frontend-client/pnp
frontend-client/pnp.js

# testing
frontend-client/coverage

# production
frontend-client/build

# misc
frontend-client/DS_Store
frontend-client/env.local
frontend-client/env.development.local
frontend-client/env.test.local
frontend-client/env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# solana-program
solana-program/anchor
solana-program/DS_Store
solana-program/target
# **/*.rs.bk
solana-program/node_modules
solana-program/test-ledger
