# frontend-client
# dependencies
gif-portal-starter/node_modules

# production
gif-portal-starter/build

# misc
gif-portal-starter/DS_Store
gif-portal-starter/env.local
gif-portal-starter/env.development.local
gif-portal-starter/env.test.local
gif-portal-starter/env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# solana-program
solana-program/anchor
solana-program/DS_Store
solana-program/target
# **/*.rs.bk
solana-program/node_modules
solana-program/test-ledger
